
<!DOCTYPE html>
{% load static tailwind_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% tailwind_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'coin/css/register.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
    <title>{% block title %} Kena {% endblock %}</title>
</head>
<!-- <body class="flex items-center justify-center"> -->

<body class="bg-gradient-to-br from-kena-dark via-kena-purple to-gray-900 text-white min-h-screen">
    {% if messages %}
        <div class="fixed top-28 right-20 space-y-2 z-50">
            {% for message in messages %}
            <div role="alert" 
                class="p-4 rounded-lg shadow-lg
                {% if message.tags == 'success' %} bg-green-600 text-white {% endif %}
                {% if message.tags == 'error' %} bg-red-600 text-white {% endif %}
                {% if message.tags == 'warning' %} bg-yellow-600 text-black {% endif %}
                {% if message.tags == 'info' %} bg-blue-600 text-white {% endif %}
                ">
                {{ message }}
            </div>
            {% endfor %}
        </div>
    {% endif %}   
    {% block content %} {% endblock %}
    {% block script %}{% endblock %}

    {% load static %}
    <script src="{% static 'coin/js/base.js' %}"></script>

</body>
</html>