{% extends 'coin/base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <div class="container">
    <h1>Welcome to the Dashboard, {{ user.username }}! Your ID is {{ user.id }}</h1>
   
    <p>This is your personal dashboard where you can manage your activities.</p>

      {% if wallets %}
        <p>You have {{ wallets|length }} wallet(s) created.</p>
        <h3> <a href="#"> send kena</a></h3>
        <h3> <a href="#">buy kena</a></h3>
      {% else %}
        <p>You have no wallets yet. Create one to start managing your KENA coins!</p>
      {% endif %}
    
    <p><a href="/logout">Logout</a></p>
    </div>

    <div class="form-container">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="form-group">
                {{ form.name.label_tag }}
                {{ form.name }}
            </div>
            <div class="form-group">
                {{ form.password.label_tag }}
                {{ form.password }}
            </div>
            <div class="form-group">
                {{ form.confirmPassword.label_tag }}
                {{ form.confirmPassword }}
            </div>
            <div class="form-group">
                {{ form.walletType.label_tag }}
                {{ form.walletType }}
            </div>
            <button type="submit" class="btn">Create Wallet</button>
        </form>
    </div>

    <!-- Credit Card Style Wallet -->

    {% if wallets %}
        <h2>Your Wallets</h2>
        <div class="wallets-container">
            {% for wallet in wallets %}
                <div class="wallet-card">
                    <div class="logo">KENA COIN</div>
                    <div class="wallet-owner">{{ wallet.user.username|title }} - {{ wallet.name}}</div>
                    <div class="wallet-balance">Ƀ {{ wallet.amount }} KENA</div>
                    <div class="wallet-details">
                        Wallet Type: {{ wallet.Wallettype }}<br />
                        Created: {{ wallet.created_at|date:"F j, Y" }}<br />
                        {% if wallet.status == 1 %}
                            Status: ✔ Active
                        {% else %}
                            Status: ✘ Inactive
                        {% endif %}
                        
                    </div>
                    <div class="public-key">
                        Hash:<br />
                        {{ wallet.hash }}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}        
        <p>No wallets found. Create a new wallet to get started!</p>
    {% endif %}

{% endblock %}

