{% extends 'coin/base.html' %}

{% block title %}Mine Kena{% endblock %}

{% block content %}
    <div class="container">
        <h1>Mine Kena</h1>
        <p>Welcome to the Kena mining page, {{ user.username }}!</p>
        <p>Here you can mine Kena coins.</p>
        <p><a href="{% url 'dashboard' %}">Back to Dashboard</a></p>

        {% if transactions %}
            <h2>Your Mining Transactions</h2>            
                <!-- <button onclick="mineKena()"  type="submit" class="btn btn-primary">Mine Kena</button> -->
                 <button id="mine-btn" 
                        data-get-url="{% url 'get_mine_data' %}" 
                        data-post-url="{% url 'submt_hash' %}"
                        class="btn btn-primary">
                        Mine Kena
                </button>
                <a href="{% url 'download_miner' %}" class="btn btn-primary">
                    Download Miner (Python)
                </a>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Gateway</th>
                        <th>Type</th>
                        <th>Amount</th>
                        <th>Status</th>
                        <th>Signature</th>
                        <th>Date Created</th>
                    </tr>
                </thead>
                <tbody>
                    {% for transaction in transactions %}
                        {% if transaction.type != 'fee' %}                                                  
                            <tr>
                                <td class="highlight">{{ transaction.hash|slice:":6" }}...{{ transaction.hash|slice:"-4:" }}</td>
                                <td class="highlight">{{ transaction.gateway }}</td>
                                <td class="highlight">{{ transaction.type }}</td>
                                <td class="highlight">Ƀ {{ transaction.amount }} K</td>
                                <!-- <td class="highlight">{{ transaction.status }}</td> -->
                                <td class="highlight">{{ 'pending' }}</td>
                                <td class="highlight">{{ transaction.signature|slice:":6" }}...{{ transaction.signature|slice:"-4:" }}</td>
                                <td class="highlight">{{ transaction.timestamp|date:"j F, Y,  H:i:s" }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No mining transactions found.</p>
        {% endif %}
        
     <script>

        // document.getElementById('mine-btn').addEventListener('click', () => {
        //     const getUrl = document.getElementById('mine-btn').dataset.getUrl;
        //     const postUrl = document.getElementById('mine-btn').dataset.postUrl;
           
        //     fetch(getUrl)
        //     .then(response => response.json())
        //     .then(data => {
        //         mineData = {
        //             "height": data["height"],
        //             "timestamp": data["timestamp"].toString(),
        //             "previous_hash": data["previous_hash"],
        //             "nonce" : parseInt(data["nonce"]) || 0,
        //             "nonce": data["nonce"],
        //             "transactions": Object.values(data["transactions"]),

        //         }

        //         // Use "1234" prefix to match backend expectation
        //         result = mineBlock(mineData, 4); // 4 zeros difficulty
        //         console.log("Result", result);
        //         console.log(result);
                
        //         fetch(postUrl, {
        //             method: 'POST',
        //             headers: {
        //                 'Content-Type': 'application/json',
        //             },
        //             body: JSON.stringify({
        //                 height: data.height,
        //                 timestamp: data.timestamp,
        //                 transactions: data.transactions, // Send only hashes
        //                 previous_hash: data.previous_hash,
        //                 nonce: result.nonce,
        //                 hash: result.hash
        //             })
        //         })
        //         .then(response => response.json())
        //         .then(confirmData => {
        //              calculateHash(1234).then(console.log);
        //             console.log("Server response:", confirmData);
        //             // alert("Block mined and submitted!");
        //         })
        //         .catch(e => console.error("Submission error:", e));
        //     })
        //     .catch(e => console.error(e));
        // });       

        // function mineBlock(blockData, difficulty) {
        //     let nonce = 0;
        //     let hash;
        //     const basePrefix = "123456789";
        //     const prefix = basePrefix.slice(0, difficulty);
        //     // const prefix = "0".repeat(difficulty); // Use zeros like backend

        //     while (true) {
        //         const toHash = { ...blockData, nonce };
        //         // Use JSON.stringify with sorted keys to match backend
        //         const jsonStr = JSON.stringify(toHash, Object.keys(toHash).sort());
        //         hash = CryptoJS.SHA256(jsonStr).toString();
        //         // console.log(nonce, hash);
        //         if (hash.startsWith(prefix)) {
        //             return { nonce, hash };
        //         }
        //         nonce++;

        //         if (nonce % 10000 === 0) {
        //             console.log(`Mining... tried ${nonce} nonces`);
        //         }
        //     }
             
        // }

        // -----------------------------------

        document.getElementById('mine-btn').addEventListener('click', () => {
            // const url = document.getElementById('mine-btn').dataset.url;
            const getUrl = document.getElementById('mine-btn').dataset.getUrl;
            const postUrl = document.getElementById('mine-btn').dataset.postUrl;
            fetch(getUrl)
            .then(response => response.json())
            .then(data => {
                mineData = {
                    "height": data["height"],
                    "timestamp": data["timestamp"],
                    "transactions": data["transactions"],
                    "previous_hash": data["previous_hash"],
                    "nonce": data["nonce"],
                }
                console.log("Data to mine", mineData);
                result = mineBlock(mineData, 4)
                console.log(result)
                fetch(postUrl, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        // 'X-CSRFToken': getCookie('csrftoken')  // Include CSRF token for Django
                    },
                    body: JSON.stringify({
                        height: data.height,
                        timestamp: data.timestamp,
                        transactions: data.transactions,
                        previous_hash: data.previous_hash,
                        nonce: result.nonce,
                        hash: result.hash
                    })
                })
                .then(response => response.json())
                .then(confirmData => {
                    console.log("Server response:", confirmData);
                    alert("Block mined and submitted!");
                })
                .catch(e => console.error("Submission error:", e));
                })
            .catch( e => console.error(e))
        });

         function mineBlock(blockData, difficulty) {
            let nonce = 0;
            let hash;
            const basePrefix = "123456789";
            const prefix = basePrefix.slice(0, difficulty);

            while (true) {
                const toHash = { ...blockData, nonce };  // nonce must be part of hash
                const jsonStr = stableStringify(toHash);
                hash = CryptoJS.SHA256(jsonStr).toString();

                if (hash.startsWith(prefix)) {
                    return { nonce, hash };
                }
                nonce++;

                if (nonce % 10000 === 0) {
                    console.log(`Mining... tried ${nonce} nonces`);
                }
            }
        }

        function stableStringify(obj) {
            if (Array.isArray(obj)) {
                return '[' + obj.map(stableStringify).join(',') + ']';
            } else if (obj && typeof obj === 'object') {
                const keys = Object.keys(obj).sort();
                return '{' + keys.map(key =>
                    JSON.stringify(key) + ':' + stableStringify(obj[key])
                ).join(',') + '}';
            } else {
                return JSON.stringify(obj);
            }
        }

       
        // function mineBlock(blockData, difficulty) {
        //     let nonce = 0;
        //     let hash;
        //     const basePrefix = "123456789";
        //     const prefix = basePrefix.slice(0, difficulty);
        //         // console.log(prefix)
        //     while (true) {
        //         const toHash = JSON.stringify({ ...blockData, nonce });
        //         hash = CryptoJS.SHA256(toHash).toString()
        //         // hash = sha256(toHash); // You can use crypto-js or a WASM hasher
        //         // console.log(nonce, hash);
        //         if (hash.startsWith(prefix)) {
        //             console.log(hash);
        //             return { nonce, hash };
        //         }
        //         nonce++;
        //     }
        // }
    </script>


    </div>
{% endblock %}

{% block extra_css %}
    <style>
        div.container {
            background-color: #121212;
            font-family: Arial, sans-serif;
            color: #242020;
            display: flex;
            justify-content: center;
            padding: 50px;
        }

        table {
            width: 100%;
            max-width: 900px;
            border-collapse: collapse;
            background-color: #1e1e1e;
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 0 0 10px rgba(0, 255, 170, 0.2);
        }

        th, td {
            padding: 15px 20px;
            text-align: left;
        }

         th {
            background-color: #2a2a2a;
            color: #00ffae;
            text-transform: uppercase;
            font-size: 14px;
        }

        /* th {
            background-color: #2a2a2a;
            color: #ffffff;
            text-transform: uppercase;
            font-size: 14px;
        } */

        tr:nth-child(even) {
             background-color: #262626;
        }

        tr:hover {
            background-color: #333333;
        }

        .highlight {
            color: #ffffff;            
            font-weight: bold;
        }

        /* .highlight {
            color: #00ffae;
            font-weight: bold;
        } */

        .txtcolor {
            /* color: #ffffff; */
            color: #00ffae;
        }

        caption {
            caption-side: top;
            color: #00ffae;
            font-size: 18px;
            padding: 10px;
        }
        .btn {
            margin-top: 1rem;
            padding: 0.7rem 1.5rem;
            background: #00ffa1;
            border: none;
            border-radius: 8px;
            font-weight: bold;
            cursor: pointer;
            color: #111;
        }

        .caption {
            color: #169069;
            font-size: 18px;
            padding: 10px;
        }

    </style>
{% endblock %}