<!-- add wallet modal -->
    <div id="addWalletModal" class="fixed inset-0  bg-black/50 backdrop-blur-sm flex place-items-center justify-center max-h-screen z-50 hidden">
        <form method="POST" >
            {% csrf_token %}
            <div class="bg-kena-dark border border-white/20 rounded-2xl p-8 max-w-md w-full md:mx-4">
                <div class="flex justify-between items-center mb-6">
                    <h3 class="text-2xl font-bold">Create Wallet</h3>
                    <button onclick="closeAddWalletModal()" class="text-gray-400 hover:text-white">
                        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                        </svg>
                    </button>
                </div>
                
                <div class="space-y-4">
                    <div>
                        <label class="block text-sm font-medium mb-2">Wallet Name</label>
                        {{form.name}}
                    </div>
                    <div id="firstNameError" class="text-red-500 text-sm mt-1 hidden"></div>
                    {% if form.name.errors %}
                        <p class="text-red-500 text-sm mt-1">{{ form.name.errors.0 }}</p>
                    {% endif %}
                    
                    <div>
                        <label class="block text-sm font-medium mb-2">Wallet Type</label>
                        {{ form.walletType }}
                    </div>                    
                    <div>
                        <label class="block text-sm font-medium mb-2">Password</label>
                        <!-- {{ form.password }} -->
                        <div class="relative">
                            {{ form.password }}
                            <button 
                                type="button" 
                                onclick="togglePassword('password', 'eyeOpen1', 'eyeClosed1')"
                                class="absolute inset-y-0 right-0 flex items-center pr-4 text-gray-400 hover:text-white transition-colors"
                            >
                                <!-- eye open -->
                                <svg id="eyeOpen1" class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                                </svg>
                                <!-- eye closed -->
                                <svg id="eyeClosed1" class="w-5 h-5 hidden" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.543-7a9.97 9.97 0 011.563-3.029m5.858.908a3 3 0 114.243 4.243M9.878 9.878l4.242 4.242M9.878 9.878L3 3m6.878 6.878L21 21" />
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div id="passwordError" class="text-red-500 text-sm mt-1 hidden"></div>
                    {% if form.password.errors %}
                        <p class="text-red-500 text-sm mt-1">{{ form.password.errors.0 }}</p>
                    {% endif %}

                    <div>
                        <label class="block text-sm font-medium mb-2">Confirm Password</label>
                        <!-- {{ form.confirmPassword }} -->
                        <div class="relative">
                            {{ form.confirmPassword }}
                            <button 
                                type="button" 
                                onclick="togglePassword('confirmPassword', 'eyeOpen2', 'eyeClosed2')"
                                class="absolute inset-y-0 right-0 flex items-center pr-4 text-gray-400 hover:text-white transition-colors"
                            >
                                <!-- eye open -->
                                <svg id="eyeOpen2" class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                                </svg>
                                <!-- eye closed -->
                                <svg id="eyeClosed2" class="w-5 h-5 hidden" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.543-7a9.97 9.97 0 011.563-3.029m5.858.908a3 3 0 114.243 4.243M9.878 9.878l4.242 4.242M9.878 9.878L3 3m6.878 6.878L21 21" />
                                </svg>
                            </button>
                        </div>
                                            </div>
                    <div id="confirmPasswordError" class="text-red-500 text-sm mt-1 hidden"></div>
                    {% if form.confirmPassword.errors %}
                        <p class="text-red-500 text-sm mt-1">{{ form.confirmPassword.errors.0 }}</p>
                    {% endif %}                   

                    
                    <button type="submit" class="w-full p-4 bg-gradient-to-r from-kena-gold to-yellow-500 text-black rounded-lg hover:from-yellow-500 hover:to-kena-gold transition-all font-semibold">
                        Create Wallet
                    </button>
                </div>
            </div>
        </form>
    </div>